# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 20

#### 2. asign any number of type float to the variable "num_2"

In [8]:
num_2 = 1.35

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [11]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [13]:
type(total)

float

#### 5. assign variable "height" with your height

In [14]:
height = 1.79

#### 6. asign variable "mass" with your weight

In [16]:
mass = 65

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [18]:
bmi = mass / (height*height)

#### 8. print value from "bmi" variable

In [20]:
print(bmi)

20.286507911738084

# String

#### 1. Create variable "name" with your first name

In [21]:
name = "Jose Alejandro"

#### 2. Create variable "surname" with your surname

In [23]:
surname = "Arellano Diez de Urdanivia"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [27]:
name_surname = name + " " + surname

#### 4. print variable "name_surname"

In [29]:
print(name_surname)

Jose Alejandro Arellano Diez de Urdanivia

#### 5. print first letter from variable "name_surname"

In [30]:
print(name_surname[0])

J

#### 6. print your name (without enmpty space) from variable "name_surname"

In [34]:
print(name_surname[0:14])

Jose Alejandro

#### 7. print your surname 10x (use variable surname)

In [37]:
print(surname * 10)

Arellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de UrdaniviaArellano Diez de Urdanivia

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [39]:
message = "Hello my name is " + name_surname

#### 9. print "message" variable

In [40]:
print(message)

Hello my name is Jose Alejandro Arellano Diez de Urdanivia

## List

#### 1. create empty list with name "empty_list"

In [42]:
empty_list = []

#### 2. create list "heights" with five random values

In [67]:
heights = [1.60, 1.58, 1.70, 1.65, 17.5]

#### 3. print heights

In [68]:
print(heights)

[1.6, 1.58, 1.7, 1.65, 17.5]

#### 4. print type of variable "heights"

In [69]:
type(heights)

list

#### 5. print second value from "heights"

In [70]:
print(heights[1])

1.58

#### 6. assign last three values from "heights" to another list "heights_2"

In [71]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [73]:
print(heights_2)

[1.7, 1.65, 17.5]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [74]:
list_all = heights + heights_2

#### 9. print "list_all"

In [75]:
print(list_all)

[1.6, 1.58, 1.7, 1.65, 17.5, 1.7, 1.65, 17.5]

#### 10. print the type of "list_all"

In [76]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [77]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [79]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
Lists are mutable and Tuples immutables

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [80]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [96]:
heights_dict = dict([(name, height)])

#### 3. asign another name and height to "heights_dict"

In [97]:
heights_dict['Melisa'] = 1.60

#### 4. print "heights_dict" dictionary

In [98]:
print(heights_dict)

{'Jose Alejandro': 1.79, 'Melisa': 1.6}

#### 5. print your height from the "heights_dict" dictionary

In [99]:
heights_dict.get('Jose Alejandro')

1.79

#### 6. print all values from "heights_dict" dictionary

In [100]:
print(heights_dict.values())

dict_values([1.79, 1.6])

#### 7. print all keys from "heights_dict" dictionary

In [101]:
print(heights_dict.keys())

dict_keys(['Jose Alejandro', 'Melisa'])